@{
    ViewData["Title"] = "Pumping & Stacking";
}

<p>Pumping is something we do in many different occasions, mainly because we lack in an area, military, wizzards, resources or science. With the shorter eond of war CF this age (72 houres) and fortified stance (48 houres), the dynamics change a bit. Its more important to have high income and quicker draft. Also following a war there will be cf and 2 fortified periods opposed to 1 of each from previous ages. This gives the same hour count in protected stance, but leaves us open for plunders 24 extra houres.</p>

<p>When pumping (except for pure wizzard pump), you rarely want more than max 5 different buildings (4 as undead), meaning you destroy any offensive or defensive building and replace it with something either generating income or reducing cost. Its important to consider building cost when pumping, as changing between different versions of pumping builds is expensive and set you back quite a few houres of income both in number of available jobs and the spent gold.</p>

<h2>Set a target</h2>

<p>Pumping is not only about training elites, its also about setting a balance for your province. You want to have a defense thats minimal of what you need, also relating to your relative size towards rest of KD. Also you need to know how much peasants, tpa and wpa you would need. When you set your target you should know exactly how to reach it. Here is how I plan my province stats.</p>

<p>Lets start with total population. Every acre houses 15 population when barren, 25 when built except for homes. Homes will be discussed in full later in the post. This yields a base 25 population per acre for all but halflings. Modifiers to this population is science, homes and honor. Homes adds 10 more population per acre it is built upon, so 10 % homes adds 1 population per acre. Calculating the modified numbers is easy when not halfling (halfling racial affects base population but not the part gained from homes, so slightly more advanced formula). If you have 10% homes, you have a base population of 26 per acre, then you multiply with stacked modifiers multiplied with science and honor bonus. So with baron and 9% science that would be 26 * 1.09 * 1.02 = 28.9. Without homes the result would be 27.8.</p>

<p>Now before setting a target we have to know if we are gonna have homes in our war build. As a rule of thumb, homes going into a war is fine if you can spare the land and have minimum 10% total modifier (science and honor). Undeads oftenly can spare the land to add 1 more elite per acre. Dont build homes while in war though, they are useless after initial land comes in.</p>

<p>Lets say I'm running with the numbers above, 10% homes included, 28.9 population per acre. First lets set some required numbers, we are gonna need defense, and it needs to be relatively low, but not so low you are an easy target in opening wave of war. In the moddle of the core pack 7 dspecs per acre should be sufficient, maybe up towards 7.5 if you have a large population per acre (at 28.9 I would run 7), as top 3 attacker in acres I would run 8 per acre as you are likely to be selected for opening wave and more def specs slows the chain and gives more flexibility in dragon feeding when chained. Thieves and wizzards is very important not only for defense, but a well run attacker province can do great offensive damage against weaker enemy provinces. In war 2/3 of an age minimum 2 wpa raw on any attacker, from mid to late age I would recommend 3 raw (and add alot of channeling science). For thieves, and UD tact looses no thieves on intel an have no access to other thievery ops, so 2 TPA raw for defense should be fine. Avian attackers should probably start out a war with 2.5 raw TPA, as stealth should be used both for intel and on offensive actions like stealing food/gold.</p>

<p>For now we have with my avian as example 7 def specs, 3 wizzards and 2.5 thieves per acre, adding up to 12.5 with 16.4 remaining. This puts me in an awkward position as I would ideally want 11 elites per acre, but 5.4 peasants per acre would be just shy of paying 200% wages for 11 elites with riots, greed and dragon and i not sustainable. I generally go with around 5.5 peasants for 10 elites per acre and 6 peasants per acre for 11 elites per acre, but the more you got into alchemy, the more I go towards adding another elite. For this example I'm setting 5.9 peasants and 10.5 elites per acre so to summary:</p>
<ul>
    <li>7 dspecs</li>
    <li>3 wizzards</li>
    <li>2.5 thieves</li>
    <li>10.5 elites</li>
    <li>5.9 peasants</li>
</ul>

<p>Thats the plan, so lets go look at how to get there.</p>

<h2>The build and drafting</h2>

<p>When pumping in end of war cf, you mostly do not have to worry about defense, so we max income. Maximum income comes from filled jobs and economy modifiers. Economy modifiers are affected by BE through banks, so thats also something to keep in mind in addition to keeping as many peasants employed as possible. Needless to say its an advantage to wait as long as possible with drafting to utilize the income from peasants to maximum. Armouries are a good way to pump bare minimum really quick, in eowcf we got 72 houres, which is not really quick training every hour, and we are not gonna draft at the same time as we train. In eowcf we also go with 50% wages, so we dont really get a great payoff from the wages.</p>

<p>I did say I would return to homes and I'm gonna make my case here. Homes have a couple of effects, they increase living space by 1 per acre each 10% of land, but they also does not employ anyone, meaning fewer jobs to fill to get maximum BE. If we leave a war with as example 3 dspec, 8 elites, 1 thief and 2.5 wizzards per acre and set the target as above, what I'm looking at is 14.5 non peasants per acre, meaning with 0 homes, thats 13.2 peasants per acre or 16.6 with 30% homes. Each built acre except for homes employ up to 25 peasants, unemployed peasants also generate income, but only a third of an employed peasant. At 30% homes, thats 17.5 jobs per acre and all peasants are employed, while 13.2 peasants is only 52.8% of the jobs filled at 25 jobs per acre and as you need 2/3 of jobs filled for max BE, you're looking at 8-10% BE penalty even before you start drafting.</p>

<p>Looking at armouries, at 100% BE they max at 25% land for 37.5% reduced training cost and 50% reduced draft cost. Starting at 90% BE before drafting we are at 27.8% land required to max those values, at train time when down to 5.5 peasants per acre, were looking at perhaps 75% BE, 30% armouries yields 33.8% reduced training cost and 45% reduced wages</p>
